*.json
*.duckdb
*benchmark_report_*
*benchmark_status_*
*comprehensive_benchmark_report*
*_model_hardware_report*
*model_functionality_report*
*model_functionality*
*.json
*result.json*
*benchmark_report*
*.log
dist
*.egg-info
*.egg
*.pyc
test/*.json
build/
.venv/
.locks
model_cache/
model_cache/*
*_results_*
*.env*
*_report_*
*.log
*_status_*
*.bak
*.py.bak
test/benchmark_results/*.json
test/benchmark_results/*/*
*/benchmark_results/*
*models--*
test/webnn_webgpu_test_results/*.log
benchmarks/*.duckdb
benchmarks/*.sqlite
benchmarks/*.json
benchmarks/*.log
benchmarks/*.csv
test/webnn_webgpu_test_results/*.json
*/webnn_webgpu_test_results/*.log
*/webnn_webgpu_test_results/*.log
*/archive/*