[submodule "test/huggingface_transformers"]
	path = test/huggingface_transformers
	url = https://github.com/huggingface/transformers.git
[submodule "test/doc-builder"]
	path = test/doc-builder
	url = https://github.com/huggingface/doc-builder.git
[submodule "ipfs_transformers_py"]
	path = ipfs_transformers_py
	url = https://github.com/endomorphosis/ipfs_transformers_py.git
[submodule "ipfs_kit_py"]
	path = ipfs_kit_py
	url = https://github.com/endomorphosis/ipfs_kit_py.git
	branch = main
[submodule "ipfs_model_manager_py"]
	path = ipfs_model_manager_py
	url = https://github.com/endomorphosis/ipfs_model_manager_py.git
[submodule "docs/fastmcp"]
	path = docs/fastmcp
	url = https://github.com/jlowin/fastmcp.git
[submodule "docs/mcp-python-sdk"]
	path = docs/mcp-python-sdk
	url = https://github.com/jlowin/mcp-python-sdk.git
[submodule "test/huggingface_doc_builder"]
	path = test/huggingface_doc_builder
	url = https://github.com/huggingface/doc-builder.git
[submodule "ipfs_datasets_py"]
	path = ipfs_datasets_py
	url = https://github.com/endomorphosis/ipfs_datasets_py.git
