boto3
einops
huggingface-hub
InstructorEmbedding
ipfs_kit_py==0.0.18
ipfs_model_manager_py==0.0.23
ipfs_transformers_py
libp2p_kit_py==0.0.19
multiformats
Pillow
pydantic
pydub
pysbd
requests
toml
urllib3
websocket-client
# transformers-js-py
# datasets
# opencv-python-aarch64
# ffmpeg-python
# decord
# websocket
# openai
# tiktoken
# open_clip_torch
# librosa
# transformers==4.46
# torch>=2.1
# torchvision
# numpy
# torchtext
# sentence_transformers
# trio
# optimum
# optimum[openvino]
# timm
# openvino>=2024.6 
# openvino-tokenizers>=2024.6
# openvino-genai>=2024.6
# nncf>=2.14.0
# optimum[exporters]
# optimum[intel]
# onnxruntime==1.19.2
# onnx==1.16.1
# FlagEmbedding
