ipfs_kit_py==0.0.18
ipfs_model_manager_py==0.0.23
libp2p_kit_py==0.0.19
ipfs_transformers_py
urllib3
requests
boto3
InstructorEmbedding
toml
pydantic
einops
Pillow
multiformats
pydub
pysbd
websocket-client
huggingface-hub
nncf>=2.14.0
# openai
# tiktoken
# websocket
# datasets
# open_clip_torch
# librosa
# FlagEmbedding
# sentence_transformers
# trio
# optimum
# optimum[exporters]
# transformers==4.46
# timm
# numpy
# torch
# torchvision
# torchtext
# opencv-python-aarch64
# ffmpeg-python
# decordam
# onnxruntime==1.19.2
# onnx==1.16.1
