--find-links https://download.pytorch.org/whl/cu124
boto3
decord
einops
ffmpeg-python
FlagEmbedding
InstructorEmbedding
ipfs_kit_py==0.0.18
ipfs_model_manager_py==0.0.23
ipfs_transformers_py
librosa
libp2p_kit_py==0.0.19
multiformats
nncf>=2.14.0
numpy
opencv-python
open_clip_torch
openai
optimum
onnx==1.16.1
onnxruntime==1.19.2
Pillow
pydantic
pydub
pysbd
requests
sentence_transformers
tiktoken
timm
toml
torch
torchaudio
torchtext
torchvision
transformers==4.46
trio
urllib3
websocket
websocket-client
