dist
*.egg-info
*.egg
*.pyc
test/*.json
build/
.venv/
.locks
model_cache/
model_cache/*
*_results_*
*.env*
*_report_*
*.log
*_status_*
*.bak
*.py.bak
test/benchmark_results/*.json
test/benchmark_results/*/*
*/benchmark_results/*
