ipfs_kit_py @ git+https://github.com/endomorphosis/ipfs_kit_py.git@main
ipfs_model_manager_py @ git+https://github.com/endomorphosis/ipfs_model_manager_py.git@main
libp2p_kit_py==0.0.19
ipfs_transformers_py @ git+https://github.com/endomorphosis/ipfs_transformers_py.git@main
transformers==4.46
--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple
torch
torchvision
numpy
torchtext
urllib3
requests
boto3
sentence_transformers
trio
optimum
optimum[openvino]
# FlagEmbedding
InstructorEmbedding
toml
pydantic
einops
timm
openvino>=2024.6 
openvino-tokenizers>=2024.6
openvino-genai>=2024.6
Pillow
nncf>=2.14.0
openvino>=2024.6 
openvino-tokenizers>=2024.6
openvino-genai>=2024.6
optimum[exporters]
optimum[intel]
onnxruntime>=1.19.2
onnx>=1.16.1
multiformats
pydub
openai
tiktoken
open_clip_torch
librosa
pysbd
ffmpeg-python
opencv-python
decord
websocket
websocket-client
sseclient-py