ipfs_kit_py==0.0.18
ipfs_model_manager_py==0.0.23
libp2p_kit_py==0.0.19
ipfs_transformers_py
transformers==4.46
--find-links https://download.pytorch.org/whl/cu124
torch
torchvision
numpy
torchtext
urllib3
requests
boto3
sentence_transformers
trio
optimum
optimum[openvino]
# FlagEmbedding
InstructorEmbedding
toml
pydantic
einops
timm
openvino>=2024.6 
openvino-tokenizers>=2024.6
openvino-genai>=2024.6
Pillow
nncf>=2.14.0
openvino>=2024.6 
openvino-tokenizers>=2024.6
openvino-genai>=2024.6
optimum[exporters]
optimum[intel]
onnxruntime>=1.19.2
onnx>=1.16.1
multiformats
pydub
openai
tiktoken
open_clip_torch
librosa
pysbd
ffmpeg-python
opencv-python
decord
websocket
websocket-client
sseclient-py