--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple
torch
torchvision
torchaudio
ipfs_kit_py @ git+https://github.com/endomorphosis/ipfs_kit_py.git@main
ipfs_model_manager_py @ git+https://github.com/endomorphosis/ipfs_model_manager_py.git@main
libp2p_kit_py==0.0.19
ipfs_transformers_py @ git+https://github.com/endomorphosis/ipfs_transformers_py.git@main
transformers==4.46
numpy
torchtext
urllib3
requests
boto3
sentence_transformers
trio
optimum
FlagEmbedding
InstructorEmbedding
toml
pydantic
einops
timm
Pillow
nncf>=2.14.0
onnxruntime
onnx
multiformats
pydub
openai
tiktoken
open_clip_torch
librosa
pysbd
ffmpeg-python
opencv-python
decord
websocket
websocket-client
websockets
optimum[exporters]
optimum[intel]
tiktoken
openvino
openvino-tokenizers
openvino-genai
onnxruntime
sseclient-py